.AddButtonUtencil{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $dark-green;
    border-radius: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 250px;
    padding: 8px 5px;
    border: none;
  
    .iconButton {
      margin-right: auto;
      background-color: $dark-mode;
      color: $white;
      padding: 10px;
      border-radius: 300%;
      width: 50px;
      height: 42px;
      display: flex;
      justify-content: center;
    }
    .textButton {
        margin-left: 1.5rem;
        font-size: 22px;
        color: $white;
        padding-right: 120px;
        
      }
}    