.technical-container{
  background-color: $orange;
  width: 100%;
  padding: 4px;
  .header-list{
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 10px;
    @include tablet {
      flex-direction: row;
    }
    .technical-list-link{
      width: 100%;
      color: $white;
      font-size: $size-recipedetailtitle-mobile;
      font-weight: $medium;
      text-align: center;
      h5{
        color: $white;
        font-size: $size-recipedetailtitle-mobile;
        font-weight: $medium;
        text-align: center;
      }
      p{
        font-size: $size-recipedetailtitle-mobile;
        margin: 0;
        background-color: $light-green;
        padding: 10px;
        margin: 5px -1px;
      }
    }
  }
}
