.tablesStepsResume{
    background-color: $orange-opacity;
    border-radius: 20px;
    margin-top: 1rem;
    width: 95%;
    margin-left: 10px;
    
  }


.deleteButtonSteps{
  background-color: $dark-green;
  border-radius: 50%;
  color: $white;
  border: none;
  height: 25px;
  width: 25px; 
  margin-top: 10px;
  margin-left: -30px;
  
}  
  